@import "../../css/gradientBg";
@import "../../css/variables";

.notifications {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  left: 1rem;

  display: grid;
  gap: 0.5rem;
  z-index: 2000;

  @media screen and (min-width: $mediumSmall) {
    max-width: $maxWidthContainer;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .notification {
    position: relative;
    color: white;
    display: flex;
    padding: 1rem;
    @extend .gradient-bg;
    gap: 1rem;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

    @media screen and (min-width: $mediumSmall) {
      max-width: 400px;
      width: 400px;
    }

    & > div {
      display: flex;
      align-items: center;
    }

    &__thumbnail {
      img {
        max-width: 50px;
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    &__message {
      flex: 1;
    }

    &:hover {
      .close-btn {
        opacity: 1;
      }
    }

    .close-btn {
      background: none;
      border: none;
      color: white;
      font-size: 1rem;
      font-weight: bold;
      padding: 0;
      cursor: pointer;

      @media screen and (min-width: $mediumSmall) {
        opacity: 0;
      }

      &:hover {
        color: rgb(248, 204, 204);
      }
    }
  }
}
