@import "../../css/variables";
@import "../../css/gradientText";
@import "../../css/gradientBg";
.dashboard-app {
  display: flex;
  flex-direction: column;

  .floating-icon {
    @extend .gradient-bg;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3.5rem;

    @media screen and (min-width: $mediumSmall) {
      display: none;
    }
  }
}

.dashboard-page {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: $maxWidthContainer;
  width: 100%;
  margin: 0 auto;
  margin-bottom: -1rem;

  h2 {
    font-weight: normal;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-weight: normal;
    font-size: 1.35rem;
  }

  .boards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;

    .box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #fff;

      @media screen and (min-width: $mediumSmall) {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 1rem;
      }
    }

    p {
      font-size: 4rem;
      color: $colorGray;
    }

    background-color: #fff;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    @media screen and (min-width: 768px) {
      background-color: unset;
      box-shadow: unset;
      border-radius: unset;

      gap: 2rem;
      padding: 1rem 0;

      .box {
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
      }
    }
  }

  .postings {
    margin: 0 -3%;
    background-color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;

    nav ul {
      border-bottom: 2px solid $borderColor;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;

      .active {
        color: $colorPink;
        position: relative;

        a::before {
          content: "";
          display: block;
          width: 50%;
          height: 4px;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%) translateY(2px);
          background-color: $colorPink;
        }
      }

      a {
        display: block;
        font-size: 1.35rem;
        padding: 1rem;

        &:hover {
          color: $colorPink;
        }
      }
    }

    @media screen and (min-width: 768px) {
      margin: 0 0;

      nav {
        ul {
          display: flex;
          gap: 2rem;

          .active {
            a::before {
              width: 100%;
            }
          }
        }
      }

      aside {
        border-right: 1px solid $borderColor;
      }
    }

    .page-contents {
      flex: 1;
      display: flex;

      & > section {
        flex: 1;

        @media screen and (min-width: 768px) {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }

        @media screen and (min-width: 1024px) {
          grid-template-columns: 400px 1fr;
        }

        &.hidden {
          display: none;
        }

        //Content Section
        section.content {
          display: none;
          padding: 1rem;

          @media screen and (min-width: 768px) {
            &.loaded {
              display: block;
            }
          }

          &.show {
            display: block;
          }

          h3 {
            font-size: 1.5rem;
          }

          .job-details {
            display: flex;
            justify-content: space-between;

            & > div:first-child {
              p:first-of-type {
                span {
                  color: black;
                }
              }
            }

            & > div:last-child {
              text-align: right;

              p {
                span:first-of-type {
                  @extend .gradient-text;
                }
              }
            }

            p {
              color: $colorGray;
            }
          }

          .applicants {
            margin-top: 2rem;
            display: grid;
            text-align: center;
            gap: 1rem;

            @media screen and (min-width: 1024px) {
              grid-template-columns: repeat(2, 1fr);
            }

            .rejected {
              filter: grayscale(100%);
            }

            img {
              display: block;
              object-fit: cover;
              border-radius: 50%;
              aspect-ratio: 1 / 1;
              width: 35%;
              margin: auto;
            }

            h4 {
              font-size: 1.5rem;
            }

            .stars {
              margin: 0.5rem 0;
              i {
                font-size: 0.75rem;
                padding: 0.25rem;
                background: $colorLightGray;
                border-radius: 50%;
                color: white;

                &.active {
                  background: $colorYellow;
                }
              }

              span {
                color: $colorGray;
              }
            }

            p {
              font-size: 1.25rem;
            }

            .content {
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              border-radius: 5px 5px 13px 13px;
              overflow: hidden;
              padding-top: 3rem;
              margin-top: -3rem;
              background-color: white;
            }

            .meta {
              .action-btns {
                display: flex;

                button {
                  flex: 1;
                  padding: 0.5rem 1rem;
                  text-transform: uppercase;
                }
              }

              .view-profile-btn {
                color: $colorPink;
              }

              .hire {
                border-bottom-right-radius: 13px;
              }

              a {
                padding: 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                font-size: 1.25rem;
              }
            }

            .no-applicants {
              grid-column: 1 / -1;
              font-size: 2rem;
              color: $colorPink;
            }
          }

          .main-modal a {
            color: $colorPink;
          }
        }
      }
    }

    aside {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      gap: 2rem;

      h3 {
        font-size: 1.5rem;
      }

      .recent {
        display: grid;
        gap: 1.5rem;

        article {
          margin: 0 -1rem;
          padding: 0.5rem 1rem;

          &:hover {
            background-color: $colorLightGray;
          }

          .details {
            display: grid;
            gap: 1rem;
            margin-bottom: 2rem;
            grid-template-columns: 3fr 4fr;
          }

          @media screen and (min-width: 768px) {
            &.active {
              background-color: $colorLightGray;
            }
          }
        }
      }

      .article-meta {
        color: $colorGray;
        font-size: 1.25rem;

        span:first-of-type {
          color: $colorPink;
        }
      }

      img {
        display: block;
        object-fit: cover;
        border-radius: 5px;
        height: 100%;
        aspect-ratio: 124 / 80;
      }

      .history {
        h3 {
          margin-bottom: 1rem;
        }

        padding-top: 2rem;
        border-top: 1px solid $borderColor;
        display: grid;
        gap: 1rem;

        article {
          display: grid;
          grid-template-columns: 3fr 4fr;
          gap: 1rem;
          margin: 0 -1rem;
          padding: 0.5rem 1rem;

          &:hover {
            background-color: $colorLightGray;
          }

          .content {
            flex-grow: 1;
          }

          p:first-of-type {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }

  .applied-candidates {
    color: $colorPink;
  }
}

.db-page-mobile .page-contents > section > section.content {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: -1rem calc($sidePadding * -1);
    padding: 1rem;
    height: 100%;
    background-color: $mainBgColor;
  }
}

// .db-page-mobile .postings {
//   @media screen and (max-width: 767px) {
//     background-color: $mainBgColor;

//     .job-posting-details {
//       display: unset;
//       position: absolute;
//       top: 0;
//       bottom: 0;
//       right: 0;
//       left: 0;
//       margin: -1rem;
//       background-color: $mainBgColor;
//       padding: 1rem;
//       height: 100%;

//       .applicants {
//         padding: 1rem;
//         gap: 3rem;
//       }

//       .job-details {
//         justify-content: unset;
//         flex-direction: column;
//         gap: 1rem;

//         & > div:last-child {
//           text-align: unset;
//         }
//       }

//       #jpTitle {
//         color: $colorPink;
//       }
//     }
//   }
// }
