@import "../../css/variables.scss";
@import "../../css/gradientBg.scss";
@import "../../css/buttonWhite.scss";

.verification-page {
  letter-spacing: 0.5px;

  .inner-wrapper {
    height: 100vh;
    color: white;
  }

  .left-col,
  .right-col {
    padding: 0 1rem;
  }

  .left-col {
    display: none;
  }

  .right-col .container {
    max-width: 360px;
    padding-top: 20vh;
    text-align: center;
    margin: auto;
    display: grid;
    gap: 1rem;
  }

  .envelope {
    max-width: 120px;
    margin: 0 auto;
  }

  h1 {
    font-size: 32px;
    font-weight: normal;
  }

  @media screen and (min-width: $mediumLarge) {
    .inner-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "left-col right-col";

      .left-col {
        display: block;
        background-color: white;
        grid-area: left-col;

        background-image: url("../../static/images/signup-left-col.svg");
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

.verification-body #app {
  padding: 0rem;
}
