.profile-page {
  img {
    //width: 300px;
    border-radius: 50%;
  }
  form {
    max-width: 400px;
    margin: auto;
    display: grid;
    gap: 1rem;
  }

  label,
  input,
  textarea {
    width: 100%;
    display: block;
    resize: vertical;
    padding: 0.5rem;
  }

  h2 {
    text-align: center;
  }

  .formImg {
    width: 200px;
    height: 200px;

    border-radius: 50%;
    border: 1px solid #d81b60;
    padding: 8px 8px 8px 8px;
    margin: auto;
    display: block;
  }

  .formImg.visible {
    display: block;
  }

  .profile-image {
    text-align: center;
  }

  label {
    line-height: 1.5;
    padding-left: 0;
  }

  button {
    padding: 0.5rem;
  }

  &.details-page {
    .loading,
    .no-result {
      text-align: center;
    }

    form,
    .no-result {
      display: none;
    }

    .hide {
      display: none;
    }

    .visible {
      display: block;
    }
  }
}
