@import "../../css/variables";
//.home-body is dynamically added to the body tag
.new-home-body #app {
  padding: 0;
  display: flex;
  flex-direction: row;

  .new-home-page {
    flex-grow: 1;
  }

  .mapboxgl-marker {
    cursor: pointer;
  }

  .your-own-modal-css {
    text-align: center;
  }

  .marker-selected {
    z-index: 5;
    filter: brightness(200%) contrast(83%) hue-rotate(254deg) saturate(240%)
      sepia(9%);
  }

  .marker-applied {
    filter: saturate(0%);
  }

  .custom-marker {
    height: 20px;
    width: 20px;
    opacity: 0.8;
    z-index: 50;

    &:hover {
      opacity: 1;
    }
  }

  .you-are-here {
    width: 30px;
    height: 30px;
    opacity: 1;
    z-index: 49;
  }

  .floating-inputs {
    position: fixed;
    transition: 0.2s;
    z-index: 25;
    width: 100%;
    // -webkit-box-shadow: 7px 6px 5px -4px #000000;
    // box-shadow: 7px 6px 5px -4px #000000;
    z-index: 100;
    max-width: 400px;

    @media screen and (min-width: 400px) {
      padding: 1rem 1rem 0;
    }

    display: flex;
    flex-direction: column;
    // padding: 1rem;

    .side-bar {
      position: relative;
      display: block;
      width: 100%;
      top: calc(-56px - 1rem);
    }
  }

  #home-aside-job-list {
    background-color: rgba(white, 1);
    // background-color: rgb(203, 114, 114);
    padding: 1rem;
    padding-top: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-150%);

    height: calc(100vh - (70.5px));
    overflow-y: auto;
    margin-left: -1rem;
    margin-right: -1rem;
    transition: all 0.5s;

    &.show {
      transform: translateY(0);
    }

    .spacer {
      height: 80px;
      background: white;
      margin: -1rem;
      position: sticky;
      top: 0;
    }

    h2 {
      font-size: 26px;
      text-align: center;
      padding: 1rem;
      margin-top: 56px;
    }

    .results {
      h2 {
        grid-column: 1 / -1;
      }

      &.hide {
        display: none;
      }

      #home-list-jobs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
      }

      .job-card {
        padding: 0.5rem;
        &:hover {
          background-color: $colorLightGray;
          border-radius: 10px;
        }

        &__title,
        &__wage {
          color: $colorPink;
        }

        &__company-name {
          margin-top: 0.5rem;
        }
      }

      .job-card__thumbnail {
        img {
          aspect-ratio: 1/1;
          object-fit: cover;
          border-radius: 10px;
        }
      }
    }

    .no-result {
      display: none;

      &.show {
        display: unset;
      }

      span {
        color: $colorPink;
      }

      p {
        text-align: center;
        color: $colorGray;
      }
    }
  }

  .search-div {
    display: flex;
    border-bottom: 2px solid $colorLightGray;
    z-index: 10;
    overflow: hidden;

    @media screen and (min-width: 400px) {
      border-radius: 6px;
    }

    box-shadow: 7px 6px 5px -6px #000;

    input {
      flex: 1;
      border: none;
      min-width: 180px;

      font-size: 17px;
      &::placeholder {
        color: #cc2c67;
      }

      &:focus {
        outline: none;
      }
      padding: 1rem;
    }
  }

  #searchBtn {
    background-color: transparent;
    border: none;
    width: 40px;
    padding: 0;
    font-size: 1rem;

    &:hover {
      color: $colorPink;
    }
  }

  #resetBtn {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border-right: 1px solid $colorLightGray;
    display: none;
    &:hover {
      .icon {
        background-color: $colorPink;
      }
    }
    .icon {
      width: 30px;
      height: 30px;
      scale: 0.8;
      margin: 0;
      cursor: pointer;
    }
  }

  .search-div button {
    color: rgb(0, 0, 0);
    background-color: rgb(228, 228, 228);
    font-size: 0.8rem;
    border-radius: 5px;
    border: 1px solid gray;
  }

  .current-location {
    outline: none;
    border: none;
    background-color: white;
    border-top: $colorLightGray solid 1px;
    padding: 0.5rem 1rem;
    font-size: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;

    &:hover {
      background-color: #eee;
    }
  }

  article img {
    border-radius: 10px;
  }

  article:hover {
    position: relative;
    top: 2px;
    left: 2px;
  }

  .button-wrapper {
    display: flex;
    padding: 0.5rem 0;
    padding-right: 0.25rem;
    background-color: white;

    // flex-flow: row nowrap;

    & > * {
      flex: 1;
    }

    button {
      border: none;
      outline: none;
    }
  }
  #side-bar {
    display: none;
  }

  .job-image {
    max-width: 100px;
    height: 100px;
  }

  .job-article-id {
    display: none;
  }

  @media screen and (min-width: 800px) {
    #side-bar {
      padding: 1rem;
      position: fixed;
      top: 4.5rem;
      left: 0;
      z-index: 20;
      display: block;
      width: 28%;
      background-color: white;
      overflow-x: hidden;
      overflow-y: scroll;
      height: 100%;
      transition: 0.5s;
      display: none;
    }

    #side-bar h2 {
      font-size: 1.5rem;
      text-align: center;
    }

    #side-bar a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    .new-home-page {
      transition: margin-left 0.5s;
    }

    #job-info-list {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr;
    }

    article p {
      font-size: 0.8rem;
    }

    article:hover {
      cursor: pointer;
    }

    .focus-article {
      background-color: #eee;
      border: 1px solid rgb(179, 179, 179);
    }

    .job-article-title,
    .job-article-wage {
      color: #de407a;
    }

    .job-article-title {
      font-size: 0.9rem;
    }

    .toggle-off-wrapper {
      display: flex;
      flex-flow: row nowrap;
      justify-content: end;
    }

    .toggle-off-wrapper:hover {
      cursor: pointer;
    }

    #toogle-button-on {
      position: relative;
      padding: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border: 2px solid black;
      border-radius: 3px;
      top: 20px;
      left: 20px;
      width: 30px;
      z-index: 20;
    }

    #toogle-button-on:hover {
      cursor: pointer;
    }

    #toogle-button-on i {
      font-size: 1rem;
    }

    #toogle-button-off i {
      font-size: 1.5rem;
    }

    .hidden-sidebar {
      width: 10px;
    }
  }

  .mapboxgl-ctrl-top-right {
    top: unset;
    bottom: 4rem;
  }
}
