//.home-body is dynamically added to the body tag
.new-home-body #app {
  padding: 0;
  display: flex;
  flex-direction: row;

  .new-home-page {
    flex-grow: 1;
  }

  .mapboxgl-marker {
    cursor: pointer;
  }

  .your-own-modal-css {
    text-align: center;
  }

  .marker-selected{
    z-index: 10;
    filter: brightness(200%) contrast(83%) hue-rotate(254deg) saturate(240%) sepia(9%);
  }

  .marker-applied{
    filter:saturate(0%);
  }

  .custom-marker{
    height: 25px;
    width: 25px;
    background-color: transparent;
  }

  .search-div{
    border: 1px solid red;
    display: flex;
    flex-direction: row nowarp;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    top:10%;
    left:15%;
    width: 300px;
  }

  .search-div input{
    width: 150px;
  }
  .search-div button{
    font-size: 0.9rem;
    
  }

  .side-bar{
    display:none;
  }

  .job-image{
    max-width: 100px;
    height: 100px;
  }

  .job-article-id{
    display: none;
  }

  @media screen and (min-width: 800px){
    .search-div{
      left: 40%;
    }
    .side-bar{
      padding: 1rem;
      display:block;
      width: 35%;
      background-color: white;
      overflow-y: scroll;
      height: 800px;
    }

    .side-bar h2{
      font-size: 1.5rem;
      text-align: center;
    }

    #job-info-list{
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr;
    }

    article p{
      font-size: 0.8rem;
    }

    .job-article-title,
    .job-article-wage{
      color: #DE407A;
    }

  }
}
