//.home-body is dynamically added to the body tag
.new-home-body #app {
  padding: 0;
  display: flex;
  flex-direction: row;

  .new-home-page {
    flex-grow: 1;
  }

  .mapboxgl-marker {
    cursor: pointer;
  }

  .your-own-modal-css {
    text-align: center;
  }

  .marker-selected{
    z-index: 10;
    filter: brightness(200%) contrast(83%) hue-rotate(254deg) saturate(240%) sepia(9%);
  }

  .marker-applied{
    filter:saturate(0%);
  }

  .custom-marker{
    height: 25px;
    width: 25px;
    background-color: transparent;
  }

  .search-div {
    border: 1px solid black;
    background-color: white;
    padding: 20px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 10%;
    left: 20%;
    width: 350px;
    height: 40px;
    -webkit-box-shadow: 7px 6px 5px -4px #000000;
    box-shadow: 7px 6px 5px -4px #000000;
  }

  .search-div input{
    width: 180px;
  }
  #searchBtn{
    width: 40px;
  }
  .search-div button{
    color: rgb(0, 0, 0);
    background-color: rgb(228, 228, 228);
    font-size: .8rem;
    border-radius: 5px;
    border: 1px solid gray;
    
  }

  article img{
    border-radius: 10px;
  }

  article:hover {
    position: relative;
    top: 2px;
    left: 2px;
  }

  .button-wrapper{
    display: flex;
    flex-flow:row nowrap;
    gap:1rem;
  }
  .side-bar{
    display:none;
  }

  .job-image{
    max-width: 100px;
    height: 100px;
  }

  .job-article-id{
    display: none;
  }

  @media screen and (min-width: 800px){
    .search-div{
      left: 40%;
    }
    .side-bar{
      padding: 1rem;
      display:block;
      width: 300px;
      background-color: white;
      overflow-y: scroll;
      height: 800px;
    }

    .side-bar h2{
      font-size: 1.5rem;
      text-align: center;
    }

    #job-info-list{
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr;
    }

    article p{
      font-size: 0.8rem;
    }

    .focus-article {
      background-color: #eee;
      border: 1px solid rgb(179, 179, 179);
    }


    .job-article-title,
    .job-article-wage{
      color: #DE407A;
    }

    .job-article-title{
      font-size: .9rem;
    }

  }
}
