.job-posting-page {
  form {
    max-width: 400px;
    margin: auto;
    display: grid;
    gap: 1rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    margin: auto;
  }

  header button {
    padding: 0.5rem;
    margin: 0;
  }

  label,
  input,
  textarea {
    width: 100%;
    display: block;
    resize: vertical;
    padding: 0.5rem;
  }

  h2 {
    text-align: center;
  }

  .formImg {
    display: none;
    // width: 250px;
    // height: auto;
  }

  .formImg.visible {
    display: block;
  }

  label {
    line-height: 1.5;
    padding-left: 0;
  }

  form button {
    padding: 0.5rem;
    width: 100%;
    margin-top: 1rem;
  }

  &.details-page {
    .loading,
    .no-result {
      text-align: center;
    }

    form,
    .no-result {
      display: none;
    }

    .hide {
      display: none;
    }

    .visible {
      display: block;
    }
  }
}
