@import "../../css/variables";
@import "../../css/gradientText";
.shadow {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

main {
  background: white;
}
.input-group input {
  border: 1px solid $borderColor;
}
.account-employer-page {
  .custom-marker {
    height: 25px;
    width: 25px;
    background-color: transparent;
  }
  .download-pdf-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2%;
    gap: 1rem;
    a {
      text-decoration: unset;
      color: blue;
    }
  }
  max-width: $maxWidthContainer;
  margin: 0 auto;
  .header {
    display: none;
    background-image: url("../../static/images/profile-bg.svg");
    background-repeat: no-repeat;
    background-position: center;

    // display: grid;
    // align-items: center;
    // background-color: white;
    // right: 0px;
    // border-bottom: 1px solid black;

    .banner {
      display: grid;
      padding: 3rem 0;
      align-items: center;

      .profile-name {
        justify-self: center;
      }

      .progress {
        flex: 2;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-top: 24px;

        .progress-box {
          flex: 1;
          background-color: white;
          border-radius: 5px;
          padding: 4px;
          text-align: center;
          // margin-left: 10;
          p {
            font-size: 80%;
          }
          .progress-bar {
            width: 100%;
            // margin-left: 5px;
            border: 1px solid $colorLightGray;
            position: relative;
            height: 20px;
            border-radius: 5px;
            background-color: $colorLightGray;

            &::before {
              content: "";
              border-radius: 5px;
              background-image: linear-gradient($colorPink, black);
              position: absolute;
              left: 0px;
              top: 0px;
              bottom: 0px;
              z-index: 1;
            }
            &.p20::before {
              width: 20%;
            }
            &.p60::before {
              width: 60%;
            }
            &.p100::before {
              width: 100%;
            }
          }
        }
      }
    }

    hr {
      flex: 1;
    }
    ul {
      flex: 1;
      li {
        padding-left: 16px;
        padding-right: 16px;
        display: inline;
      }
      .active {
        border-bottom: 2px solid $colorPink;
      }
    }
  }
  .profile-image,
  .banner-image {
    margin: auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    aspect-ratio: 36/12.8;
    border: 1px solid #d81b60;
    position: relative;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
  }

  .profile-image-wrapper .info {
    display: grid;
    text-align: center;
  }

  .content {
    // background: white;
    margin-left: -$sidePadding;
    margin-right: -$sidePadding;
    padding: 1rem $sidePadding;
    display: grid;
    gap: 1rem;

    .profile-Image {
      border-radius: 50%;
      margin: auto;
      width: 150px;
      height: 150px;
      aspect-ratio: 36/12.8;
      border: 1px solid #d81b60;
      position: relative;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;

      input {
        position: absolute;
        opacity: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      button {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        background-color: white;
        border-radius: 50%;
        outline: 0;
        border: none;

        .icon {
          width: 1.5rem;
          height: 1.5rem;
          scale: 0.8;
        }
      }
    }

    #profile-map {
      width: 100%;
      height: auto;
      aspect-ratio: 16/8;
      border: 1px solid #000;
      border-radius: 4px;
      margin-top: 1rem;
    }

    .action-btn-wrapper {
      display: flex;
      justify-content: space-between;
      text-align: center;
      // padding: 0 0.5rem;
      margin-top: 1rem;

      button {
        padding: 0.5rem 1rem;
        border-radius: 6px;
        border-image-source: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 0.75rem;
        gap: 0.25rem;

        span {
          display: block;
          width: 20px;
          height: 20px;
          scale: 0.6;
        }
      }

      &.center {
        justify-content: center;
      }

      .primary-button {
        padding: 0.5rem 3rem;
      }
    }
  }
  .web-menu {
    display: none;
  }
  .account-setting {
    background-color: white;
    border-bottom: 2px solid $borderColor;
  }
  .profile-info {
    text-align: center;
    display: grid;
    justify-content: center;
  }

  #profile-map {
    width: 100%;
    height: auto;
    aspect-ratio: 16/8;
    border: 1px solid #000;
    border-radius: 4px;
  }

  .mobile-menu .logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: $colorLightGray;
    // border-radius: 50%;
  }
  .mobile-menu li a {
    display: flex;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $borderColor;
    gap: 1rem;
  }
  .mobile-menu li .fa-solid {
    align-self: center;
    padding: 10px;
    color: white;
    background: darkgrey;
    border-radius: 5px;
  }
  .mobile-menu li:last-child {
    border-bottom: none;
  }

  .mobile-menu li .text {
    padding-right: 20px;
    line-height: 40px;
    height: 40px;
  }
  .account-employer-page.profile-page {
    display: none;
  }

  // .profile-page {
  //   display: none;
  // }

  .form-wrapper {
    display: grid;
  }
}

.profile-page-mobile {
  .header {
    display: none;
  }

  .account-setting {
    display: none;
  }
  .profile-page {
    display: unset;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media screen and (min-width: $mediumSmall) {
  main {
    background: unset;
  }
  .account-employer-page {
    .header {
      //display: unset;
      display: grid;
      align-items: center;
      background-color: white;
      right: 0px;
      border-bottom: 1px solid black;
      align-items: unset;
      padding-left: 2%;
      padding-right: 2%;
      .web-menu {
        width: 800px;
      }
      background-image: url("../../static/images/undraw_profile_data_re_v81r.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right 20px center;
    }
    .banner {
      display: grid;
      grid-template-columns: 150px 1fr 48%;

      .progress {
        padding: 0 1rem;
      }
      gap: 1rem;

      .profile-name {
        // padding: 0;
        justify-self: left;
      }

      .progress {
        flex: 2;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-top: 24px;

        .progress-box {
          flex: 1;
          background-color: white;
          border-radius: 5px;
          text-align: center;
          margin-left: 10;
          p {
            font-size: 80%;
          }
          .progress-bar {
            width: 90%;
            border: 1px solid $colorLightGray;
            position: relative;
            height: 20px;
            border-radius: 5px;
            background-color: $colorLightGray;

            &::before {
              content: "";
              border-radius: 5px;
              background-image: linear-gradient($colorPink, black);
              position: absolute;
              left: 0px;
              top: 0px;
              bottom: 0px;
              z-index: 1;
            }
            &.p20::before {
              width: 20%;
            }
            &.p60::before {
              width: 60%;
            }
            &.p100::before {
              width: 100%;
            }
          }
        }
      }
    }
    .web-menu {
      flex: 1;
      li {
        padding: 0.5rem 1rem;
        display: inline-block;
      }

      .active {
        color: $colorPink;
        border-bottom: 2px solid $colorPink;
      }
    }

    .mobile-menu {
      display: none;
    }
    .web-menu {
      display: unset;
    }
    .profile-page {
      display: unset;
    }
    .profile-page .form-wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr) auto auto;
      gap: 2rem;

      .personal-wrapper {
        grid-column: 1;
        grid-row: 1/5;
        border: 1px solid $colorLightGray;
        padding: 1rem;
        border-radius: 5px;
        background-color: white;
      }
      .profile-image-wrapper {
        grid-column: 2;
        grid-row: 1;
        border: 1px solid $colorLightGray;
        padding: 1rem;
        border-radius: 5px;
        background-color: white;
      }
      .upload-prof-wrapper {
        grid-column: 2;
        grid-row: 2;
        background-color: white;
        border: 1px solid $colorLightGray;
        padding: 1rem;
        border-radius: 5px;
      }
      .action-btn-wrapper {
        grid-column: span 2;
        grid-row: 5;
        margin-top: 0;
      }
    }
  }
}
