.gradient-text {
  background: linear-gradient(180deg, #ff005d 0%, #391865 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
