  .signup-signin-form {
    color: white;
    max-width: 360px;
    margin: auto;
    display: grid;
    gap: 2rem;
    font-size: 17px;

    .center-form {
      display: grid;
      text-align: center;
      row-gap: 1rem;
    }

    .password-container {
      position: relative;
      display: flex;
        .eye {
            width: 22px;
            position: absolute;
            cursor: pointer;
            left: 220px;
            top: 6px;
          }
    }

    input,
    select {
      width: 100%;
      padding-bottom: 0.5rem;
      background: none;
      border: none;
      border-bottom: 1px solid white;
    }

    ::placeholder {
      color: white;
      opacity: 0.8;
    }

    select option {
      color: black;
    }

  }