:root {
  --sidePadding: 3%;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

#app {
  flex-grow: 1;
  background: rgb(226, 223, 223);
  padding: 1rem var(--sidePadding);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.main-footer {
  background-color: black;
  padding: 1rem;
  color: #fff;
  text-transform: uppercase;
}
